.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  background: var(--light-gray);
  justify-content: flex-start;
  min-height: 100vh;
  line-height: 1.4rem;
}

h2 {
  padding-top: 0.4rem;
  font-size: 2rem;
  font-family: "DM Mono", monospace;
  font-style: italic;
  color: black;
  letter-spacing: 0.2rem;
}

h3 {
  padding-top: 0.4rem;
  font-size: 1.6rem;
  font-family: "DM Mono", monospace;
  font-style: italic;
  color: var(--dark-green);
  letter-spacing: 0.2rem;
  line-height: 1.4rem;
}

header {
  padding: 2rem 0 2rem 0;
}

footer {
  text-align: right;
  width: 80%;
  align-self: flex-end;
  color: black;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.accent {
  color: var(--blue);
  font-size: 1.2rem;
}

.accent2 {
  color: black;
  font-size: 1.2rem;
}
