header h2 {
  padding-block: 2rem;
  font-size: 2rem;
  font-family: "DM Mono", monospace;
  font-style: italic;
  color: white;
  letter-spacing: 0.2rem;
}

footer {
  text-align: left;
  padding-left: 1rem;
}

.youtubeAPI {
  color: var(--blue);
  font-size: 1.2rem;
}

.floatR {
  float: right;
  margin: 0 1rem 0 0.5rem;
}

.blue {
  color: var(--blue);
}
