.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  background: var(--med-gray);
  justify-content: center;
  min-height: 100vh;
}

header h2 {
  padding-top: 0.4rem;
  font-size: 2rem;
  font-family: "DM Mono", monospace;
  font-style: italic;
  color: white;
  letter-spacing: 0rem;
}

footer {
  text-align: left;
  padding-left: 1rem;
}

.youtubeAPI {
  color: var(--blue);
  font-size: 1.2rem;
}

.floatR {
  float: right;
  margin: 0 1rem 0 0.5rem;
}
