@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,500&family=IM+Fell+Double+Pica&family=Iceberg&display=swap");
/* fonts
font-family: 'DM Mono', monospace;
font-family: 'Iceberg', cursive;
font-family: 'IM Fell Double Pica', serif; */
:root {
  /* colors */
  --light-gray: #e5e5e5;
  --med-gray: #c4c4c4;
  --blue: #041fcb;
  --light-green: #18d67b;
  --dark-green: #019a6f;
}

html {
  font-size: 18px;
}
@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

.App {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "DM Mono", monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.section-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: DM Mono;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0.15em;
  width: 100%;
  border-top: 2px solid var(--blue);
}

.panel-content {
  padding: 1rem 2rem;
}

.panel img {
  margin-block: 1rem;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-out, visibility 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  visibility: visible;
}

.light-gray {
  background: var(--light-gray);
  color: var(--blue);
}

.light-gray h2 {
  color: black;
}

.med-gray {
  background: var(--med-gray);
  color: black;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

button {
  display: inline-block;
  border: 2px solid var(--blue);
  border-radius: 0;
  padding: 1rem 1rem;
  margin: 1rem;

  text-decoration: none;
  background: white;
  width: 50%;
  max-width: 10rem;
  color: black;
  font-family: "DM Mono", monospace;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0.25em;
  cursor: grab;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: var(--blue);
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.98);
}

/*  non-mobile-layout */
@media (min-width: 600px) {
  .panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;
  }
  video {
    max-width: 100%;
  }
  img {
    max-width: 90%;
  }
}

/*  large-screen-layout */
@media (min-width: 1200px) {
  .panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
  }
  video {
    max-width: 100%;
  }
  img {
    max-width: 90%;
  }
}
