@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,500&family=IM+Fell+Double+Pica&family=Iceberg&display=swap");
/* fonts
font-family: 'DM Mono', monospace;
font-family: 'Iceberg', cursive;
font-family: 'IM Fell Double Pica', serif; */
:root {
  /* colors */
  --light-gray: #e5e5e5;
  --med-gray: #c4c4c4;
  --blue: #041fcb;
  --light-green: #18d67b;
  --dark-green: #019a6f;
}

/* Document level adjustments */
html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

.App {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "DM Mono", monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
